html {
    font-size: 0.625em; /*10px/16px*/  /*px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */  
}

#wrap{
    width: 90%;
    max-width: 1000px;
    background-color: aquamarine;
}

#Spectaular {
  width: 100%;
  color: blue;
}

.titleArea{
  width: 60%;
  background-color: blue;

}

#Spectaular .Photo{
  width: 33.3333333;
  background-color: blue;
}

#inner{
  width: 100%;
  background-color: blue;
}

.dropdown{
  width: 82.291667%;
  background-color: blue;
}

.form{
  width: 68.8888889%;
  background-color: blue;
}