html {
    font-size: 0.625em; /*10px/16px*/  /*px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */  
  }
  
h1 {
    font-size: 3.75em/*60px/16px*/;
    text-align: center;
  }
  
p, li {
    font-size: 1.5em/*24px/16px*/;
    line-height: 2;
    letter-spacing: 1px/*1px/16*/;
    
  }


html {
    background-color: #aabfaa;
  }
  
body {
    width: 600px;
    margin: 0 auto;
    background-color: #d3ebc7;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }





img {
  display: block; 
  margin: 0 auto;

  
}

